h1 
{
    color:blue;
}

.title,.headerTitle
{
    color:rgb(83, 174, 83);
}
.headerTitle
{
    font-size:48px;
    padding:7px;
    max-height:20px;
    
}

#headerTitleDiv
{
    background-color: blue;
    border-radius:2px;
}

body 
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(223, 223, 239);
}

a{
    text-decoration: none;
    color:black;
}

p,label
{
    font-size:20px;
}

.submitButton,.panelButton 
{
    font-size:18px;
}

button 
{
    border-radius:5px;
}


.chapterButton 
{
    font-size:18px;
    /*font-style:italic; */
}

.navButton 
{
    background-color: rgb(205, 205, 220);
    font-size:20px;
    width:88px;
    border-style:dotted;
    border-width:1px;
    border-bottom:1px;
    
}

.row 
{
    display:flex;
    
    flex-wrap:wrap; 
    
}

.navBar.navButton
{
    flex:0 0 50;
    
}    


.subtitle
{
    color:rgb(62, 62, 223);
}

.heading
{
    font-size:20px;
}
.navButton
{
    border-color:black;
    border-right-width:2px;
    border-right:solid;
    min-height:10px;
    height:50px;

}

.selectedNav
{
    background-color: yellowgreen;
}

.selectedChapter
{
    color:white;
    background-color: black;
}